/* Fuentes */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.Home {

}

.Home-titulo {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #838383;
  border-bottom: 2px solid #d8d8d8;
  padding-bottom: 25px;
}

.Home-container {
  width: 70%;
  height: auto;
  display: block;
  margin: 10px auto;
}

.Home-fecha {
  width: 100%;
  padding: 7px;
  margin: 0px auto;
  background-color: #4592e7;
  text-align: center;
  color: #fff;
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
}
